@font-face {
  font-family: 'Suseong Batang';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongBatang/SuseongBatang.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongBatang/SuseongBatang.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongBatang/SuseongBatang.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/SuseongBatang/SuseongBatang.ttf') format('truetype');
}
